<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#File:-3_Categorize-Countires-into-Regions" data-toc-modified-id="File:-3_Categorize-Countires-into-Regions-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>File: 3_Categorize Countires into Regions</a></span></li></ul></div>

## File: 3_Categorize Countires into Regions

This file takes input of  `clean_data_1.csv`  and produces output of `regional_data_2.csv`
- This list of countries and their regions was found on the site:

    https://www.thoughtco.com/official-listing-of-countries-world-region-1435153

In [18]:
# Common Python Libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

In [19]:
!ls *.csv

 clean_data_1.csv	   'regional_data_22023-01-18 13:18:11.756900.csv'
 Life_Expectancy_Data.csv   regional_data_2.csv

In [20]:
filename = 'clean_data_1.csv'

df = pd.read_csv(filename, header=0)

# Convert object 'Status' to categorical 
df["Status"] = pd.Categorical(df["Status"])

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2938 entries, 0 to 2937
Data columns (total 22 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Country     2938 non-null   object
 1   Year        2938 non-null   int64
 2   Status      2938 non-null   category
 3   LifeExpec   2938 non-null   float64
 4   AdultMort   2938 non-null   float64
 5   InfD        2938 non-null   int64
 6   EtOH        2938 non-null   float64
 7   PercExpen   2938 non-null   float64
 8   HepB        2938 non-null   float64
 9   Measles     2938 non-null   int64
 10  BMI         2938 non-null   float64
 11  lt5yD       2938 non-null   int64
 12  Polio       2938 non-null   float64
 13  TotalExpen  2938 non-null   float64
 14  Diph        2938 non-null   float64
 15  HIV/AIDS    2938 non-null   float64
 16  GDP         2938 non-null   float64
 17  Population  2938 non-null   float64
 18  Thin1_19y   2938 non-null   float64
 19  Thin5_9y    2938 non-null   float64
 20  Income      2938 non-null   float64
 21  Education   2938 non-null   float64
dtypes: category(1), float64(16), int64(4), object(1)
memory usage: 485.1+ KB

In [21]:
lst_countries = df.Country.unique()
lst_countries

array(['Afghanistan', 'Albania', 'Algeria', 'Angola',
       'Antigua and Barbuda', 'Argentina', 'Armenia', 'Australia',
       'Austria', 'Azerbaijan', 'Bahamas', 'Bahrain', 'Bangladesh',
       'Barbados', 'Belarus', 'Belgium', 'Belize', 'Benin', 'Bhutan',
       'Bolivia (Plurinational State of)', 'Bosnia and Herzegovina',
       'Botswana', 'Brazil', 'Brunei Darussalam', 'Bulgaria',
       'Burkina Faso', 'Burundi', "Côte d'Ivoire", 'Cabo Verde',
       'Cambodia', 'Cameroon', 'Canada', 'Central African Republic',
       'Chad', 'Chile', 'China', 'Colombia', 'Comoros', 'Congo',
       'Cook Islands', 'Costa Rica', 'Croatia', 'Cuba', 'Cyprus',
       'Czechia', "Democratic People's Republic of Korea",
       'Democratic Republic of the Congo', 'Denmark', 'Djibouti',
       'Dominica', 'Dominican Republic', 'Ecuador', 'Egypt',
       'El Salvador', 'Equatorial Guinea', 'Eritrea', 'Estonia',
       'Ethiopia', 'Fiji', 'Finland', 'France', 'Gabon', 'Gambia',
       'Georgia', 'Germany', 'Ghana', 'Greece', 'Grenada', 'Guatemala',
       'Guinea', 'Guinea-Bissau', 'Guyana', 'Haiti', 'Honduras',
       'Hungary', 'Iceland', 'India', 'Indonesia',
       'Iran (Islamic Republic of)', 'Iraq', 'Ireland', 'Israel', 'Italy',
       'Jamaica', 'Japan', 'Jordan', 'Kazakhstan', 'Kenya', 'Kiribati',
       'Kuwait', 'Kyrgyzstan', "Lao People's Democratic Republic",
       'Latvia', 'Lebanon', 'Lesotho', 'Liberia', 'Libya', 'Lithuania',
       'Luxembourg', 'Madagascar', 'Malawi', 'Malaysia', 'Maldives',
       'Mali', 'Malta', 'Marshall Islands', 'Mauritania', 'Mauritius',
       'Mexico', 'Micronesia (Federated States of)', 'Monaco', 'Mongolia',
       'Montenegro', 'Morocco', 'Mozambique', 'Myanmar', 'Namibia',
       'Nauru', 'Nepal', 'Netherlands', 'New Zealand', 'Nicaragua',
       'Niger', 'Nigeria', 'Niue', 'Norway', 'Oman', 'Pakistan', 'Palau',
       'Panama', 'Papua New Guinea', 'Paraguay', 'Peru', 'Philippines',
       'Poland', 'Portugal', 'Qatar', 'Republic of Korea',
       'Republic of Moldova', 'Romania', 'Russian Federation', 'Rwanda',
       'Saint Kitts and Nevis', 'Saint Lucia',
       'Saint Vincent and the Grenadines', 'Samoa', 'San Marino',
       'Sao Tome and Principe', 'Saudi Arabia', 'Senegal', 'Serbia',
       'Seychelles', 'Sierra Leone', 'Singapore', 'Slovakia', 'Slovenia',
       'Solomon Islands', 'Somalia', 'South Africa', 'South Sudan',
       'Spain', 'Sri Lanka', 'Sudan', 'Suriname', 'Swaziland', 'Sweden',
       'Switzerland', 'Syrian Arab Republic', 'Tajikistan', 'Thailand',
       'The former Yugoslav republic of Macedonia', 'Timor-Leste', 'Togo',
       'Tonga', 'Trinidad and Tobago', 'Tunisia', 'Turkey',
       'Turkmenistan', 'Tuvalu', 'Uganda', 'Ukraine',
       'United Arab Emirates',
       'United Kingdom of Great Britain and Northern Ireland',
       'United Republic of Tanzania', 'United States of America',
       'Uruguay', 'Uzbekistan', 'Vanuatu',
       'Venezuela (Bolivarian Republic of)', 'Viet Nam', 'Yemen',
       'Zambia', 'Zimbabwe'], dtype=object)

In [22]:
Asia = ['Bangladesh','Bhutan','Brunei','Cambodia','China','India','Indonesia','Japan','Kazakhstan',
        "Democratic People's Republic of Korea",'South Korea','Kyrgyzstan',"Lao People's Democratic Republic",'Malaysia','Maldives','Mongolia','Myanmar',
        'Nepal','Philippines','Singapore','Sri Lanka','Taiwan','Tajikistan','Thailand','Turkmenistan',
        'Uzbekistan','Viet Nam']

In [23]:
M_East_N_Africa = ['Afghanistan','Algeria','Azerbaijan','Bahrain','Egypt',"Iran (Islamic Republic of)",
                   'Iraq','Israel','Jordan','Kuwait','Lebanon','Libya','Morocco','Oman','Pakistan','Qatar',
                   'Saudi Arabia','Somalia','Syrian Arab Republic','Tunisia','Turkey',
                   'United Arab Emirates','Yemen']

In [24]:
Europe = ['Albania','Andorra','Armenia','Austria','Belarus','Belgium','Bosnia and Herzegovina',
          'Bulgaria','Croatia','Cyprus','Czech Republic','Denmark','Estonia','Finland','France',
          'Georgia','Germany','Greece','Hungary','Iceland','Ireland','Italy','Kosovo','Latvia',
          'Liechtenstein','Lithuania','Luxembourg','Yugoslav republic of Macedonia','Malta',
          'Republic of Moldova','Monaco','Montenegro',
          'Netherlands','Norway','Poland','Portugal','Romania','Russia','San Marino','Serbia',
          'Slovakia','Slovenia','Spain','Sweden','Switzerland','Ukraine',
          'United Kingdom of Great Britain and Northern Ireland','Vatican City']

In [25]:
N_America = ['Canada','Greenland','Mexico','United States of America']

In [26]:
C_America_Caribbean = ['Antigua and Barbuda','Bahamas','Barbados','Belize','Costa Rica','Cuba',
                       'Dominica','Dominican Republic','El Salvador','Grenada','Guatemala',
                       'Haiti','Honduras','Jamaica','Nicaragua','Panama','Saint Kitts and Nevis',
                       'Saint Lucia','Saint Vincent and the Grenadines','Trinidad and Tobago']

In [27]:
S_America = ['Argentina','Bolivia','Brazil','Chile','Colombia','Ecuador','Guyana',
             'Paraguay','Peru','Suriname','Uruguay',"Venezuela (Bolivarian Republic of)"]

In [28]:
Sub_Saharan_Africa = ['Angola','Benin','Botswana','Burkina Faso','Burundi','Cameroon','Cape Verde',
                      'The Central African Republic','Chad','Comoros','Republic of the Congo',
                      'Democratic Republic of the Congo','Côte d\'Ivoire','Djibouti',
                      'Equatorial Guinea','Eritrea','Ethiopia','Gabon','Gambia','Ghana',
                      'Guinea','Guinea-Bissau','Kenya','Lesotho','Liberia','Madagascar',
                      'Malawi','Mali','Mauritania','Mauritius','Mozambique','Namibia','Niger',
                      'Nigeria','Rwanda','Sao Tome and Principe','Senegal','Seychelles','Sierra Leone',
                      'South Africa','South Sudan','Sudan','Swaziland','Tanzania','Togo','Uganda',
                      'Zambia','Zimbabwe']

In [29]:
Oceania = ['Australia','Timor-Leste','Fiji','Kiribati','Marshall Islands',
           'Micronesia (Federated States of)','Nauru','Niue','New Zealand','Palau',
           'Papua New Guinea','Samoa','Solomon Islands','Tonga','Tuvalu','Vanuatu']

In [30]:
def country_2_region(country):
    """Assign a country name a region. There are EIGHT regions"""
    
    region = ''
    if country in Asia:
        region='Asia'
    elif country in M_East_N_Africa:
        region='M_East_N_Africa'
    elif country in S_America:
        region='S_America'
    elif country in N_America:
        region='N_America'
    elif country in Europe:
        region='Europe'
    elif country in Oceania:
        region='Oceania'
    elif country in Sub_Saharan_Africa:
        region='Sub_Saharan_Africa'
    else: 
        region="C_America_Caribbean"
    
    return region



# Test with assertions

assert 'Oceania'==country_2_region('Samoa')

assert 'M_East_N_Africa'==country_2_region('Algeria')

assert 'S_America'==country_2_region('Bolivia')

assert 'N_America'==country_2_region('Canada')

assert 'Europe'==country_2_region('Andorra')

assert 'Sub_Saharan_Africa'==country_2_region('Botswana')

print('Good Job!')

Good Job!

In [31]:
file_description = 'regional_data_2'
suffix = 'csv'

%run 9_Produce_file_names_w_date_time_stamp.ipynb

In [32]:
df['Region'] = df['Country'].apply(country_2_region)

File_Name_Date_Time = NamePlusDateTime(file_description, suffix)

df.to_csv(File_Name_Date_Time, index=False)

lst_regions = df.Region.unique()
lst_regions

array(['M_East_N_Africa', 'Europe', 'Sub_Saharan_Africa',
       'C_America_Caribbean', 'S_America', 'Oceania', 'Asia', 'N_America'],
      dtype=object)

In [33]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2938 entries, 0 to 2937
Data columns (total 23 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Country     2938 non-null   object
 1   Year        2938 non-null   int64
 2   Status      2938 non-null   category
 3   LifeExpec   2938 non-null   float64
 4   AdultMort   2938 non-null   float64
 5   InfD        2938 non-null   int64
 6   EtOH        2938 non-null   float64
 7   PercExpen   2938 non-null   float64
 8   HepB        2938 non-null   float64
 9   Measles     2938 non-null   int64
 10  BMI         2938 non-null   float64
 11  lt5yD       2938 non-null   int64
 12  Polio       2938 non-null   float64
 13  TotalExpen  2938 non-null   float64
 14  Diph        2938 non-null   float64
 15  HIV/AIDS    2938 non-null   float64
 16  GDP         2938 non-null   float64
 17  Population  2938 non-null   float64
 18  Thin1_19y   2938 non-null   float64
 19  Thin5_9y    2938 non-null   float64
 20  Income      2938 non-null   float64
 21  Education   2938 non-null   float64
 22  Region      2938 non-null   object
dtypes: category(1), float64(16), int64(4), object(2)
memory usage: 508.1+ KB

In [34]:
!ls *.csv

 clean_data_1.csv
 Life_Expectancy_Data.csv
'regional_data_22023-01-18 13:18:11.756900.csv'
'regional_data_2-2023-01-18 13:18:55.451573.csv'
 regional_data_2.csv