<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Load-and-Verify-Data-Integrity" data-toc-modified-id="Load-and-Verify-Data-Integrity-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Load and Verify Data Integrity</a></span></li><li><span><a href="#Categorize-Countries-into-Regions" data-toc-modified-id="Categorize-Countries-into-Regions-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Categorize Countries into Regions</a></span><ul class="toc-item"><li><span><a href="#NOTE-1:" data-toc-modified-id="NOTE-1:-2.1"><span class="toc-item-num">2.1&nbsp;&nbsp;</span>NOTE 1:</a></span></li></ul></li><li><span><a href="#Discretization-of-BMI-data" data-toc-modified-id="Discretization-of-BMI-data-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>Discretization of BMI data</a></span></li><li><span><a href="#Save-Engineered-Data-for-Modeling" data-toc-modified-id="Save-Engineered-Data-for-Modeling-4"><span class="toc-item-num">4&nbsp;&nbsp;</span>Save Engineered Data for Modeling</a></span></li></ul></div>

# 4_Feature_Engineering

Categorize Countires into Regions

This file takes input of  `Clean_LE_Data_Post_EDA_2.csv`  and produces output of `?????regional_data_2.csv`

- This list of countries and their regions was found on the site:

    https://www.thoughtco.com/official-listing-of-countries-world-region-1435153

## Load and Verify Data Integrity

In [1]:
# Common Python Libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

In [2]:
!ls *.csv

Clean_LE_Data_Post_EDA_2.csv  Life_Expectancy_Data.csv
Clean_LE_Data_w_Means_1.csv

In [3]:
filename = 'Clean_LE_Data_Post_EDA_2.csv'

df = pd.read_csv(filename)

# Convert object 'Status' to categorical 
df["Status"] = pd.Categorical(df["Status"])

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2928 entries, 0 to 2927
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Country         2928 non-null   object
 1   Year            2928 non-null   int64
 2   Status          2928 non-null   category
 3   LifeExpectancy  2928 non-null   float64
 4   AdultMort       2928 non-null   float64
 5   EtOH            2928 non-null   float64
 6   BMI             2928 non-null   float64
 7   lt5yD           2928 non-null   int64
 8   Polio           2928 non-null   float64
 9   TotalExpen      2928 non-null   float64
 10  DTP             2928 non-null   float64
 11  HIV             2928 non-null   float64
 12  Thin5_9y        2928 non-null   float64
 13  Income          2928 non-null   float64
 14  Education       2928 non-null   float64
dtypes: category(1), float64(11), int64(2), object(1)
memory usage: 323.4+ KB

## Categorize Countries into Regions

In [6]:
lst_countries = df.Country.unique()

print('\nNumber of countries evaluated in dataset:', len(lst_countries))

lst_countries

Number of countries evaluated in dataset: 183

array(['Afghanistan', 'Albania', 'Algeria', 'Angola',
       'Antigua and Barbuda', 'Argentina', 'Armenia', 'Australia',
       'Austria', 'Azerbaijan', 'Bahamas', 'Bahrain', 'Bangladesh',
       'Barbados', 'Belarus', 'Belgium', 'Belize', 'Benin', 'Bhutan',
       'Bolivia (Plurinational State of)', 'Bosnia and Herzegovina',
       'Botswana', 'Brazil', 'Brunei Darussalam', 'Bulgaria',
       'Burkina Faso', 'Burundi', "CÃ´te d'Ivoire", 'Cabo Verde',
       'Cambodia', 'Cameroon', 'Canada', 'Central African Republic',
       'Chad', 'Chile', 'China', 'Colombia', 'Comoros', 'Congo',
       'Costa Rica', 'Croatia', 'Cuba', 'Cyprus', 'Czechia',
       "Democratic People's Republic of Korea",
       'Democratic Republic of the Congo', 'Denmark', 'Djibouti',
       'Dominican Republic', 'Ecuador', 'Egypt', 'El Salvador',
       'Equatorial Guinea', 'Eritrea', 'Estonia', 'Ethiopia', 'Fiji',
       'Finland', 'France', 'Gabon', 'Gambia', 'Georgia', 'Germany',
       'Ghana', 'Greece', 'Grenada', 'Guatemala', 'Guinea',
       'Guinea-Bissau', 'Guyana', 'Haiti', 'Honduras', 'Hungary',
       'Iceland', 'India', 'Indonesia', 'Iran (Islamic Republic of)',
       'Iraq', 'Ireland', 'Israel', 'Italy', 'Jamaica', 'Japan', 'Jordan',
       'Kazakhstan', 'Kenya', 'Kiribati', 'Kuwait', 'Kyrgyzstan',
       "Lao People's Democratic Republic", 'Latvia', 'Lebanon', 'Lesotho',
       'Liberia', 'Libya', 'Lithuania', 'Luxembourg', 'Madagascar',
       'Malawi', 'Malaysia', 'Maldives', 'Mali', 'Malta', 'Mauritania',
       'Mauritius', 'Mexico', 'Micronesia (Federated States of)',
       'Mongolia', 'Montenegro', 'Morocco', 'Mozambique', 'Myanmar',
       'Namibia', 'Nepal', 'Netherlands', 'New Zealand', 'Nicaragua',
       'Niger', 'Nigeria', 'Norway', 'Oman', 'Pakistan', 'Panama',
       'Papua New Guinea', 'Paraguay', 'Peru', 'Philippines', 'Poland',
       'Portugal', 'Qatar', 'Republic of Korea', 'Republic of Moldova',
       'Romania', 'Russian Federation', 'Rwanda', 'Saint Lucia',
       'Saint Vincent and the Grenadines', 'Samoa',
       'Sao Tome and Principe', 'Saudi Arabia', 'Senegal', 'Serbia',
       'Seychelles', 'Sierra Leone', 'Singapore', 'Slovakia', 'Slovenia',
       'Solomon Islands', 'Somalia', 'South Africa', 'South Sudan',
       'Spain', 'Sri Lanka', 'Sudan', 'Suriname', 'Swaziland', 'Sweden',
       'Switzerland', 'Syrian Arab Republic', 'Tajikistan', 'Thailand',
       'The former Yugoslav republic of Macedonia', 'Timor-Leste', 'Togo',
       'Tonga', 'Trinidad and Tobago', 'Tunisia', 'Turkey',
       'Turkmenistan', 'Uganda', 'Ukraine', 'United Arab Emirates',
       'United Kingdom of Great Britain and Northern Ireland',
       'United Republic of Tanzania', 'United States of America',
       'Uruguay', 'Uzbekistan', 'Vanuatu',
       'Venezuela (Bolivarian Republic of)', 'Viet Nam', 'Yemen',
       'Zambia', 'Zimbabwe'], dtype=object)

### NOTE 1:

- This list of countries and their **EIGHT (8) regions** was found on the site:

- https://www.thoughtco.com/official-listing-of-countries-world-region-1435153

In [8]:
Asia = ['Bangladesh','Bhutan','Brunei','Cambodia','China','India','Indonesia','Japan','Kazakhstan',
        "Democratic People's Republic of Korea",'South Korea','Kyrgyzstan',"Lao People's Democratic Republic",'Malaysia','Maldives','Mongolia','Myanmar',
        'Nepal','Philippines','Singapore','Sri Lanka','Taiwan','Tajikistan','Thailand','Turkmenistan',
        'Uzbekistan','Viet Nam']

In [9]:
M_East_N_Africa = ['Afghanistan','Algeria','Azerbaijan','Bahrain','Egypt',"Iran (Islamic Republic of)",
                   'Iraq','Israel','Jordan','Kuwait','Lebanon','Libya','Morocco','Oman','Pakistan','Qatar',
                   'Saudi Arabia','Somalia','Syrian Arab Republic','Tunisia','Turkey',
                   'United Arab Emirates','Yemen']

In [10]:
Europe = ['Albania','Andorra','Armenia','Austria','Belarus','Belgium','Bosnia and Herzegovina',
          'Bulgaria','Croatia','Cyprus','Czech Republic','Denmark','Estonia','Finland','France',
          'Georgia','Germany','Greece','Hungary','Iceland','Ireland','Italy','Kosovo','Latvia',
          'Liechtenstein','Lithuania','Luxembourg','Yugoslav republic of Macedonia','Malta',
          'Republic of Moldova','Monaco','Montenegro',
          'Netherlands','Norway','Poland','Portugal','Romania','Russia','San Marino','Serbia',
          'Slovakia','Slovenia','Spain','Sweden','Switzerland','Ukraine',
          'United Kingdom of Great Britain and Northern Ireland','Vatican City']

In [11]:
N_America = ['Canada','Greenland','Mexico','United States of America']

In [12]:
C_America_Caribbean = ['Antigua and Barbuda','Bahamas','Barbados','Belize','Costa Rica','Cuba',
                       'Dominica','Dominican Republic','El Salvador','Grenada','Guatemala',
                       'Haiti','Honduras','Jamaica','Nicaragua','Panama','Saint Kitts and Nevis',
                       'Saint Lucia','Saint Vincent and the Grenadines','Trinidad and Tobago']

In [13]:
S_America = ['Argentina','Bolivia','Brazil','Chile','Colombia','Ecuador','Guyana',
             'Paraguay','Peru','Suriname','Uruguay',"Venezuela (Bolivarian Republic of)"]

In [14]:
Sub_Saharan_Africa = ['Angola','Benin','Botswana','Burkina Faso','Burundi','Cameroon','Cape Verde',
                      'The Central African Republic','Chad','Comoros','Republic of the Congo',
                      'Democratic Republic of the Congo','CÃ´te d\'Ivoire','Djibouti',
                      'Equatorial Guinea','Eritrea','Ethiopia','Gabon','Gambia','Ghana',
                      'Guinea','Guinea-Bissau','Kenya','Lesotho','Liberia','Madagascar',
                      'Malawi','Mali','Mauritania','Mauritius','Mozambique','Namibia','Niger',
                      'Nigeria','Rwanda','Sao Tome and Principe','Senegal','Seychelles','Sierra Leone',
                      'South Africa','South Sudan','Sudan','Swaziland','Tanzania','Togo','Uganda',
                      'Zambia','Zimbabwe']

In [15]:
Oceania = ['Australia','Timor-Leste','Fiji','Kiribati','Marshall Islands',
           'Micronesia (Federated States of)','Nauru','Niue','New Zealand','Palau',
           'Papua New Guinea','Samoa','Solomon Islands','Tonga','Tuvalu','Vanuatu']

In [16]:
def country_2_region(country):
    """Assign a country name a region. There are EIGHT regions"""
    
    region = ''
    if country in Asia:
        region='Asia'
    elif country in M_East_N_Africa:
        region='M_East_N_Africa'
    elif country in S_America:
        region='S_America'
    elif country in N_America:
        region='N_America'
    elif country in Europe:
        region='Europe'
    elif country in Oceania:
        region='Oceania'
    elif country in Sub_Saharan_Africa:
        region='Sub_Saharan_Africa'
    else: 
        region="C_America_Caribbean"
    
    return region



# Test with assertions

assert 'Oceania'==country_2_region('Samoa')

assert 'M_East_N_Africa'==country_2_region('Algeria')

assert 'S_America'==country_2_region('Bolivia')

assert 'N_America'==country_2_region('Canada')

assert 'Europe'==country_2_region('Andorra')

assert 'Sub_Saharan_Africa'==country_2_region('Botswana')

print('Good Job!')

Good Job!

In [ ]:
# Save Files with date-time stamp

# def NamePlusDateTime(file_description, suffix):
#     """This function takes in a file name or desctiption
#     and returns a filename with a date-time stamp suffixed to it."""
    
#     from datetime import datetime
#     current_datetime = datetime.now()
#     str_current_datetime = str(current_datetime)
#     file_name_DT = file_description + '-' + str_current_datetime + "." + suffix
#     return file_name_DT

In [17]:
df['Region'] = df['Country'].apply(country_2_region)

lst_regions = df.Region.unique()
lst_regions

array(['M_East_N_Africa', 'Europe', 'Sub_Saharan_Africa',
       'C_America_Caribbean', 'S_America', 'Oceania', 'Asia', 'N_America'],
      dtype=object)

## Discretization of BMI data

- The BMI histogram seen in the EDA was bimodal. Therefore we will assign a categorical value to the BMI feature.

- BMI's less than 35 will be assigned zero(0), while BMI's great than or equal to 35 will be one(1).

|     BMI | ge35BMI |
|--------:|--------:|
|  < 35.0 |       0 |
| >= 35.0 |       1 |

In [19]:
# Create new feature called **ge35BMI** 
df['ge35BMI'] = df['BMI'].apply(lambda x: 0 if x < 35 else 1)

In [26]:
df['ge35BMI'].describe()

count    2928.000000
mean        0.566257
std         0.495675
min         0.000000
25%         0.000000
50%         1.000000
75%         1.000000
max         1.000000
Name: ge35BMI, dtype: float64

In [27]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2928 entries, 0 to 2927
Data columns (total 17 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Country         2928 non-null   object
 1   Year            2928 non-null   int64
 2   Status          2928 non-null   category
 3   LifeExpectancy  2928 non-null   float64
 4   AdultMort       2928 non-null   float64
 5   EtOH            2928 non-null   float64
 6   BMI             2928 non-null   float64
 7   lt5yD           2928 non-null   int64
 8   Polio           2928 non-null   float64
 9   TotalExpen      2928 non-null   float64
 10  DTP             2928 non-null   float64
 11  HIV             2928 non-null   float64
 12  Thin5_9y        2928 non-null   float64
 13  Income          2928 non-null   float64
 14  Education       2928 non-null   float64
 15  Region          2928 non-null   object
 16  ge35BMI         2928 non-null   int64
dtypes: category(1), float64(11), int64(3), object(2)
memory usage: 369.1+ KB

## Save Engineered Data for Modeling

In [28]:
file_name = 'Clean_LE_Data_FEng_3.csv'

df.to_csv(file_name, index=False)

In [29]:
!ls *.csv

Clean_LE_Data_FEng_3.csv      Clean_LE_Data_w_Means_1.csv
Clean_LE_Data_Post_EDA_2.csv  Life_Expectancy_Data.csv